{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Smart Waste Management</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="container">
    <div class="login-card">
        <h1>♻ Smart Waste Management</h1>
        <p>Keep your city clean and sustainable</p>

        <form>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">

            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>